body {
    background-image: url(img/cannabis.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.introducao {
    background-color: rgba(128, 128, 128, 0.61);
    text-align: center;
    padding: 7px;
    border-radius: 15px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    font-size: 16px;
    animation: aparecer 7s;
    color: rgb(252, 227, 227);
}

@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.texto {
    background-color: rgba(128, 128, 128, 0.61);
    text-align: center;
    padding: 17px;
    border-radius: 15px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    font-size: 16px;
}

.img {
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(255, 0, 0, 0.384);
    margin: 0 auto;
    width: 450px;
    margin-left: 25px;
}

.strong {
    font-size: 20px;
    color: greenyellow;
}

.link {
    font-size: 20px;
    margin: 5px;
    transition: 1s;
}

.link:hover {
    color: rgb(251, 255, 32);
    text-decoration: solid;
}